@using MCol.DTO.Security
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - MCol.Web</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom.css">
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <script src="~/lib/fontawesome/js/fontawesome.js"></script>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark text-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 fs-4 fw-bold text-uppercase border-bottom">StarAdmin</div>
            <div class="list-group list-group-flush my-3">
                @{
                    List<PaginaDTO> Paginas = (List<PaginaDTO>)ViewBag.Menu;
                    List<ModuloDTO> Modulos = Paginas != null ? Paginas.Select(m => m.Modulo).ToList().OrderBy(e => e.Orden).ToList() : new List<ModuloDTO>();
                    IEnumerable<int> IteraModulos = Modulos.Select(e => e.Id).Distinct();
                    foreach (int idModulo in IteraModulos)
                    {
                        var Modulo = (ModuloDTO)Modulos.FirstOrDefault(m => m.Id == idModulo);
                        var paginasModulo = Paginas.Where(p => p.Modulo.Id == idModulo).ToList();

                        <a href="#modulo_@Modulo.Id" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-transparent text-white fw-bold">
                            <i class="@Modulo.Icono fas fa-layer-group me-2"></i>@Modulo.Nombre
                        </a>
                        <ul class="collapse list-unstyled" id="modulo_@Modulo.Id">

                            @foreach (var itemPagina in paginasModulo)
                            {
                                <li><a href="#@itemPagina.Path" class="list-group-item list-group-item-action bg-transparent text-white">@itemPagina.NombrePagina</a></li>

                            }
                        </ul>
                    }
                
                }
                

                @* <a href="#tablesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action bg-transparent text-white fw-bold"><i class="fas fa-table me-2"></i>Tables</a>
                <ul class="collapse list-unstyled" id="tablesSubmenu">
                    <li><a href="#" class="list-group-item list-group-item-action bg-transparent text-white">Simple Tables</a></li>
                    <li><a href="#" class="list-group-item list-group-item-action bg-transparent text-white">Data Tables</a></li>
                </ul>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white fw-bold"><i class="fas fa-chart-line me-2"></i>Reports</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white fw-bold"><i class="fas fa-user me-2"></i>User Pages</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white fw-bold"><i class="fas fa-cog me-2"></i>Settings</a> *@
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-dark" id="menu-toggle"><i class="fas fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i> John Doe
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid px-4">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script>
        document.getElementById("menu-toggle").addEventListener("click", function () {
            document.getElementById("wrapper").classList.toggle("toggled");
        });
    </script>
</body>
</html>
